/* styles.css */
:root {
  --bg: #252422;
  --text: #fffcf2;
  --link: rgb(255, 35, 90);
  --dim: #8a8780;
}


/* Hide the raw text while the font is loading */
.typewriter-line {
    opacity: 0;
    min-height: 1.2em; /* Prevents vertical height jumping */
    white-space: pre;   /* Critical for monospace alignment and spaces */
}

#la-weather, #la-time {
    display: inline-block;
    min-width: 5ch;
    text-align: right;
}

.doto {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: 
    "ROND" 100;
}

body {
    margin:0;
    padding:0;
    background-color: var(--bg);
    color: var(--text);
}

ul { 
    margin:0;
    margin: 0 auto;
}
li {
    margin:0;
    line-height: 1;
    list-style-type: none;
    display: block;
}
.dim {
    color: var(--dim);
}

/* 1. Mobile First (Default size for small screens) */
ul { 
    padding:30px 0px;
    width: 360px;
    min-width: 31ch;
}
li { font-size: 20px; }

#la-weather, #la-time {
    display: inline-block; /* Allows the span to have a predictable width/height */
    min-width: 5ch;        /* Reserves space for 5 characters */
    vertical-align: bottom; 
}

/* 2. Tablet & Up (Standard breakpoint: 768px) */
@media (min-width: 768px) {
  ul { width: 700px; }
  li { font-size: 38px; }
}
/* 3. Desktop & Up (Standard breakpoint: 1024px) */
@media (min-width: 1024px) {
    ul { width: 960px; }
    li { font-size: 53px; }
}
@media (min-width: 1200px) {
    ul { width: 1150px; }
    li { font-size: 60px; }
}

a { 
    color: var(--link);
    text-decoration: none;
}
a:hover,
.fake-link:hover {
    filter: brightness(150%); /* Increases brightness by 50% */
}

.fake-link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--link);
    text-decoration: none;
}


